<%- include('partials/_header'); %>

    <%- include('partials/_nav'); %>

    <style>
        body{
            background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
        }
        .big-text{
            font-size: 70px;
            cursor: pointer;
        }
    </style>


    <div class="container">
        <div class="row my-3 bg-white rounded">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item " aria-current="page"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Book</li>
                    </ol>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-white text-center h1 mt-4">Book's name</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col mt-1">
                <div class="card mx-auto mt-1" style="width: 18rem;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Topic</h5>
                      <p class="card-text">This is a topic in the book, here is the notes</p>
                      <button class="btn btn-success">Open</button>
                    </div>
                </div>
            </div>
            <div class="col mt-1">
                <div class="card mx-auto mt-1" style="width: 18rem;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Topic</h5>
                      <p class="card-text">This is a topic in the book, here is the notes</p>
                      <button class="btn btn-success">Open</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer'); %>