<%- include('partials/_header'); %>

    <style>
        body{
            background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
        }
        .big-text{
            font-size: 70px;
            cursor: pointer;
        }
    </style>
    
    <%- include('partials/_nav'); %>
    
    <div class="container">
        <div class="row mt-3 bg-white rounded">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                  </nav>
            </div>
        </div>
        <div class="row text-center text-white mt-4">
            <h1>
                My books
            </h1>
        </div>
        <div class="row my-5">
            <div class="col-md">
                <div class="card mx-auto mt-1" style="width: 18rem;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Python</h5>
                      <p class="card-text">This books is about codes of python and programming</p>
                      <button class="btn btn-success">Open</button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <!--This is one card-->
                <div class="card mx-auto mt-1" style="width: 18rem;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Add new book</h5>
                      <p class="card-text">Los libros se dividen en temas y estos a su vez contienen notas sobre los mismos.</p>
                      <a href="/addbook">
                        <i class="fas fa-plus-circle text-success big-text"></i>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer'); %>